!!!
%html
  %head
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %nav
            %ul.nav.pull-right
              %li 
                = puts "something"
